body, css {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 119, 239);
  text-align: center;
}

body * {
  margin: 1em;
  padding: 0;
  list-style: none;
}

section {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background:radial-gradient(rgb(240, 35, 35),rgb(180, 139, 207));
}

#movieDetails {
  display: block;
}
 